# {{ ansible_managed }}
global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend loadbalancing
    bind *:80
    mode http
    default_backend backendnodes

backend backendnodes
    balance roundrobin
    option httpchk HEAD /
    {% for host in groups['tag_role_backend'] %}
server {{hostvars[host]['ec2_id']}}  {{hostvars[host]['ec2_private_ip_address']}}:8080 check
    {% endfor %}
